            body{
                background-color: rgb(215, 233, 228);
            }
            .container{
                display: flex;
                min-height: 100vh;
            }
            .left-content{
                background-color: rgb(153, 240, 205);
                display: flex;
                flex-direction: column;
                width: 230px;
                padding: 10px;
                border-radius: 8px;
            }
            .last-button{
                margin-top: auto;
                padding: 30px;
            }
            .name-web{
                color: rgb(9, 84, 9)
            }
            h2{
                color: rgb(9, 84, 9);
            }
            .information{
                background-color: rgb(100, 250, 200);
                display: flex;
                padding: 10px;
                gap: 10px;
                border-radius: 5px;
            }

            .profile-pic{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .navigation{
                display: flex;
                flex-direction: column;
                padding: 30px;
                gap: 15px;
            }
            .icon{
                background-color: white;
                display: flex;
                justify-content: space-evenly;
                padding: 10px;
                border-radius: 20px;
                font-family: Arial, Helvetica, sans-serif;
            }
            .icon:hover{
                background-color: rgb(230, 255, 240);
            }
            
            .main-content{
                display: flex;
                flex-direction: column;
                padding: 15px;
                flex-grow: 1;
            }
            
            .header{
                display: flex;
                gap: 10px;

            }
            .search-bar{
                display: flex;
                padding: 20px;
                margin-top: 2px;
                flex-grow: 1;
            }
            .search{
                display: flex;
                flex-grow: 1;
                border: 1px solid black;
                border-radius: 10px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: small;
                align-self: center;
                padding: 3px;
            }
            .stay-alone{
                padding-left: 10px;
                margin-top: 5px;
            }
            
            .content{
                display: flex;
                gap: 10px;
            }
            .center{
                display: flex;
                flex-grow: 1;
                flex-direction: column;
            }
            .main-container{
                display: grid;
                background-color: aliceblue;
                border-radius: 10px;
                height: auto;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 20px;
                gap: 20px
            }
            .right{
                display: flex;
                flex-direction: column;
                gap: 20px
            }
            .right .box{
                background-color: rgb(124, 190, 168);
            }
            
            .box{
                background-color: rgb(97, 166, 161);
                width: 250px;
                height: 220px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white
            }
            @media screen and (max-width: 700px){
                .container{
                    flex-direction: row;
                    align-items: flex-start;
                }
                .left-content{
                    width: 150px ;
                }
                .navigation{
                    font-size: 12px;
                }
                .information h2 {
                    font-size: 14px; 
                }
                .right .box{
                    background-color: rgb(96, 180, 138);
                    width: 150px;
                    height: 150px;
                }
                .main-container{
                    grid-template-columns: 1fr;
                }

            }
            @media screen and (min-width: 700px) and (max-width: 1100px) {
                .main-container{
                    grid-template-columns: 1fr 1fr;
                }
            }